.second-header{
    width: 88%;
    height: 6rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 4rem;

    .scroll-wrapper{
        overflow-x: scroll;
        flex: 1;

        .second-header-items{
            display: flex;
            flex-direction: row;
            width: max-content;
            height: 100%;

            .box{
                margin: 10px;
                background-color: rgb(240, 240, 240);
                width: max-content;
                height: 2rem;
                padding: 0.5rem;
                color: black;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: 0.2s ease-in-out;
        
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
            .box:hover{
                background-color: rgb(224, 224, 224);
            }
        
            .active{
                background-color: rgb(19, 19, 19);
                color: white;
            }
        }
    }
}